*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{
background:linear-gradient(135deg,#0B1026,#141B3A,#1C2A55);
min-height:100vh;
color:white;
}

.page,
.dashboard{
min-height:100vh;
padding:40px;
}

button{
cursor:pointer;
transition:.3s;
border:none;
}

button:hover{
transform:translateY(-2px);
}

input,
textarea,
select{
width:100%;
padding:14px;
border-radius:12px;
border:none;
margin-top:8px;
margin-bottom:18px;
background:#20294f;
color:white;
font-size:15px;
}

input:focus,
textarea:focus,
select:focus{
outline:none;
box-shadow:0 0 0 2px #7C5CFC;
}
.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 35px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border-radius:20px;

margin-bottom:35px;

}

.logout-btn{

padding:12px 24px;

border-radius:12px;

background:#7C5CFC;

color:white;

font-weight:bold;

}

.logout-btn:hover{

background:#6d4af5;

}
.stats-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:20px;

margin:30px 0;

}
.habit-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(330px,1fr));

gap:25px;

}

.habit-card{

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

padding:25px;

border-radius:20px;

box-shadow:0 15px 35px rgba(0,0,0,.2);

transition:.3s;

}

.habit-card:hover{

transform:translateY(-8px);

}

.habit-header{

display:flex;

align-items:center;

gap:15px;

margin-bottom:15px;

}

.habit-icon{

font-size:35px;

}

.badges{

display:flex;

gap:10px;

margin:15px 0;

}

.badges span{

background:#7C5CFC;

padding:8px 14px;

border-radius:20px;

font-size:13px;

}

.habit-buttons{

display:flex;

gap:12px;

margin-top:20px;

}

.habit-buttons button{

flex:1;

padding:12px;

border-radius:10px;

background:#4CC9F0;

color:white;

font-weight:bold;

}
.add-btn{

padding:15px 28px;

border-radius:15px;

background:linear-gradient(135deg,#7C5CFC,#4CC9F0);

color:white;

font-size:16px;

font-weight:bold;

}
.form-card{

max-width:650px;

margin:auto;

background:rgba(255,255,255,.08);

padding:40px;

border-radius:25px;

backdrop-filter:blur(20px);

box-shadow:0 15px 35px rgba(0,0,0,.25);

}

.form-card h1{

margin-bottom:10px;

}

.form-subtitle{

margin-bottom:30px;

color:#d5d9ff;

}
.empty-state{

text-align:center;

margin-top:80px;

}

.empty-state h2{

font-size:34px;

margin-bottom:15px;

}

.empty-state p{

margin-bottom:30px;

color:#d2d6ef;

}
